
@import "tailwindcss";
@plugin "daisyui";


/* :root {
  --primary-gradient: linear-gradient(
    to right,
    #1621f9,
    #ec6e48,
    #b0ea33
  );
} */

:root {
  --primary-gradient: linear-gradient(
    to right,
    #f97316,
    #ec4899,
    #9333ea
  );
}

.primary-gradient {
  background: var(--primary-gradient);
}

.gradient-text {
  background: var(--primary-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.gradient-tech {
  background: linear-gradient(
    to right,
    #ec4899,
    #9333ea
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}